/* ============================================================
   SUZA Web Technologies — Practical Test
   Student      : [AMINA JUMA HAMAD]
   Reg No.      : [24BCS035]
   Question     : Q[0098] — SHOPPING CART ITEMS TABLE
   ============================================================ */

body{
    background-color: white;
    font-size: 18px;
    width: 100%;
}

table{
    width: 100px;
    border-collapse: collapse;
}

th,tr,th{
    padding: 10px;
}

.btntotal:hover{
background: blue;
}

.btncheck:hover{
    background: lightseagreen;
}